.container {  display: grid;
    background: #F6F8FF;

    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows:  0.4fr 0.5fr 0.1fr 3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". Search ."
    ". . ."
    ". body ."
    ". . .";
}

.Search {
    background: white;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "input button";
    grid-area: Search;
    border-radius: 20px;
}

.button { grid-area: button;
padding: 25px}

.buttonSubmit{

}

.input { grid-area: input;
padding: 25px}

.body {
    border-radius: 20px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "image name joined"
    "image login login"
    ". text text"
    ". bigBlock bigBlock"
    ". place twitter"
    ". site workPlace";
    grid-area: body;
}

.name { grid-area: name; }

.joined { grid-area: joined; }

.bigBlock {  display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "smallBlock .";
    grid-area: bigBlock;
}


.smallBlock {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "repos followers following";
    grid-area: smallBlock;
    background: #F6F8FF;
    border-radius: 20px;

}

.repos { grid-area: repos;
padding-left: 25px}

.followers { grid-area: followers; }

.following { grid-area: following; }

.place { grid-area: place; }

.site { grid-area: site; }

.twitter { grid-area: twitter; }

.workPlace { grid-area: workPlace; }

.login { grid-area: login; }

.text { grid-area: text; }

.image { grid-area: image;}


img {
    border-radius: 20px
}
