.container {  display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.4fr 0.5fr 0.3fr 2.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". Search ."
    ". . ."
    ". body ."
    ". . .";
}

.Search {  display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "input button";
    grid-area: Search;
}

.button { grid-area: button; }

.input { grid-area: input; }

.body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "image name joined"
    "image login login"
    ". text text"
    ". bigBlock bigBlock"
    ". place twitter"
    ". site workPlace";
    grid-area: body;
}

.name { grid-area: name; }

.joined { grid-area: joined; }

.bigBlock {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "repos followers following";
    grid-area: bigBlock;
}

.repos { grid-area: repos; }

.followers { grid-area: followers; }

.following { grid-area: following; }

.place { grid-area: place; }

.site { grid-area: site; }

.twitter { grid-area: twitter; }

.workPlace { grid-area: workPlace; }

.login { grid-area: login; }

.text { grid-area: text; }

.image { grid-area: image; }
